parameters:
    level: 3
    paths:
        - lib
        - tests
    scanFiles:
        - tests/Doctrine/Tests/Common/Annotations/Fixtures/GlobalNamespacesPerFileWithClassAsFirst.php
        - tests/Doctrine/Tests/Common/Annotations/Fixtures/GlobalNamespacesPerFileWithClassAsLast.php
        - tests/Doctrine/Tests/Common/Annotations/Fixtures/NonNamespacedClass.php
        - tests/Doctrine/Tests/Common/Annotations/Ticket/DCOM58Entity.php
    excludePaths:
        - tests/*/Fixtures/*
        - tests/Doctrine/Tests/Common/Annotations/ReservedKeywordsClasses.php
        - tests/Doctrine/Tests/Common/Annotations/Ticket/DCOM58Entity.php
        - tests/Doctrine/Tests/DoctrineTestCase.php
        - tests/Doctrine/Tests/Common/Annotations/CachedReaderTest.php
    polluteScopeWithLoopInitialAssignments: true
    ignoreErrors:
        - '#Instantiated class Doctrine_Tests_Common_Annotations_Fixtures_ClassNoNamespaceNoComment not found#'
        - '#Property Doctrine\\Tests\\Common\\Annotations\\DummyClassNonAnnotationProblem::\$foo has unknown class#'
        - '#Call to an undefined static method PHPUnit\\Framework\\TestCase::expectExceptionMessageRegExp\(\)#'

        # That tag is empty on purpose
        - '#PHPDoc tag @var has invalid value \(\)\: Unexpected token "\*/", expected type at offset 9#'
