parameters:
    level: 3
    phpVersion: 80500
    paths:
        - lib
        - tests
    scanFiles:
        - tests/Doctrine/Tests/Common/Annotations/Fixtures/GlobalNamespacesPerFileWithClassAsFirst.php
        - tests/Doctrine/Tests/Common/Annotations/Fixtures/GlobalNamespacesPerFileWithClassAsLast.php
        - tests/Doctrine/Tests/Common/Annotations/Fixtures/NonNamespacedClass.php
        - tests/Doctrine/Tests/Common/Annotations/Ticket/DCOM58Entity.php
    excludePaths:
        - tests/*/Fixtures/*
        - tests/Doctrine/Tests/Common/Annotations/ReservedKeywordsClasses.php
        - tests/Doctrine/Tests/Common/Annotations/Ticket/DCOM58Entity.php
        - tests/Doctrine/Tests/DoctrineTestCase.php
    polluteScopeWithLoopInitialAssignments: true
    ignoreErrors:
        - '#Instantiated class Doctrine_Tests_Common_Annotations_Fixtures_ClassNoNamespaceNoComment not found#'
        - '#Property Doctrine\\Tests\\Common\\Annotations\\DummyClassNonAnnotationProblem::\$foo has unknown class#'
        - '#Call to an undefined static method PHPUnit\\Framework\\TestCase::expectExceptionMessageRegExp\(\)#'

        -
            identifier: phpDoc.parseError
            path: tests/Doctrine/Tests/Common/Annotations/AbstractReaderTest.php
