<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         convertErrorsToExceptions="true"
         backupStaticAttributes="false"
         processIsolation="false"
         backupGlobals="false"
         stopOnFailure="false"
         syntaxCheck="false"
         colors="true">

    <testsuites>
        <testsuite name="Doctrine Annotations Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>performance</group>
            <group>deprecated</group>
        </exclude>
    </groups>

    <filter>
        <blacklist>
              <directory>./vendor/*</directory>
        </blacklist>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>